<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>GNMA Data View</h1>
    <a type="button" class="btn btn-lg btn-default" href="https://google.com"><span class="glyphicon glyphicon-flash"></span> Query Tool</a>
    <a type="button" class="btn btn-lg btn-default" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-flash"></span> Visualization</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Data View is a platform providing easy to access to MBS performance data publicly available on <a href="https://www.ginniemae.gov/pages/default.aspx" class="alert-link">GNMA's website</a> as well as analytics pertaining to these datasets.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> What is GNMA?</h3>
      <ul>
        <li>GNMA, or the Government National Mortgage Association (GNMA), is a guarantor of mortgage-backed securities for government loans, such as FHA, VA, and USDA program mortgages. </li>
        <li>The agency, guaranteed by the full faith and credit of the United States government, belongs under the U.S. Department of Housing and Urban Development (HUD). </li>
        <li>GNMA's total MBS volume was $1.87 trillion as of <a href="https://www.ginniemae.gov/about_us/what_we_do/Annual_Reports/annual_report17.pdf">the agency's 2017 annual report.</a></li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://www.investopedia.com/terms/g/ginniemae.asp">Investopedia Introduction to GNMA</a></li>
      </ul>
    </div>
  </div> <!-- row -->
</div>


</body>
</html>
